<div class="page-wrapper">
  <!-- <img
    src="../../../../assets/no-data.png"
    id="booking-table-empty"
    height="100"
    class="no-data"
  /> -->
  <div class="mat-form-field-wrapper text-center">
    <h1 class="no-margin">Page Not Found</h1>
    <p class="text-gray">Sorry, the page you're looking for doesn't exist</p>
  </div>
  <button mat-flat-button color="primary" href="#" routerLink="/">
    Back to Dashboard
  </button>
  <img
    src="../../../../assets/error-img.png"
    id="booking-table-empty"
    height="400"
    class="no-data"
  />
</div>
